= form_with(model: maxim, local: true) do |form|
  - if maxim.errors.any?
    #error_explanation
      %h2
        = pluralize(maxim.errors.count, "error")
        prohibited this maxim from being saved:
      %ul
        - maxim.errors.full_messages.each do |message|
          %li= message
  .field
    = form.label :title
    = form.text_field :title
  .field
    = form.label :content
    = form.text_area :content
  .actions
    = form.submit
