%p#notice= notice
%h1 Maxims
%table
  %thead
    %tr
      %th Title
      %th Content
      %th{:colspan => "3"}
  %tbody
    - @maxims.each do |maxim|
      %tr
        %td= maxim.title
        %td= maxim.content
        %td= link_to 'Show', maxim
        %td= link_to 'Edit', edit_maxim_path(maxim)
        %td= link_to 'Destroy', maxim, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Maxim', new_maxim_path
