
.list
  %p 一覧
  = form_with(url: posts_searches_path, local: true, method: :get, class: "search-form") do |form| 
    .list__top.input-group
      = form.text_field :keyword, placeholder: "search...", class: "form-control"
      = form.submit "検索", class: "btn,btn-primary" 
  -# = render "list"
  .container-fluide
    .list__main.row
      -@posts.each do |post|
        .list__main__card.col-md-4.col-6.col-lg-3.col-xl-2
          -if post.image.attached?
            -# = link_to "/posts/#{post.id}"
            -# = image_tag post.image,class:"card-img-bottom"
            = link_to image_tag(post.image,class:"img-fluid"), "/posts/#{post.id}"

